{% extends "base.html" %}

{% block title %}
<h1 style="color:white; padding-top: 3%; font-size: 50px; font-family: papyrus;">
    Welcome to the Dino Game!
</h1>
<p style="color:white; padding-top: 1%; font-size: 25px;">
Run the program and press space to start!
</p>
{% endblock %}

{% block content %}
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/js/skulpt.min.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/js/skulpt-stdlib.js" type="text/javascript"></script>

</head>

<body>
<iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@purplebears321/T-Rex-Game-Starter-Kit?lite=true&outputonly=1"></iframe>
<!--<script type="text/javascript">-->
<!--// output functions are configurable.  This one just appends some text-->
<!--// to a pre element.-->
<!--function outf(text) {-->
<!--    var mypre = document.getElementById("output");-->
<!--    mypre.innerHTML = mypre.innerHTML + text;-->
<!--}-->
<!--function builtinRead(x) {-->
<!--    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)-->
<!--            throw "File not found: '" + x + "'";-->
<!--    return Sk.builtinFiles["files"][x];-->
<!--}-->

<!--// Here's everything you need to run a python program in skulpt-->
<!--// grab the code from your textarea-->
<!--// get a reference to your pre element for output-->
<!--// configure the output function-->
<!--// call Sk.importMainWithBody()-->
<!--function runit() {-->
<!--   var prog = document.getElementById("yourcode").value;-->
<!--   var mypre = document.getElementById("output");-->
<!--   mypre.innerHTML = '';-->
<!--   Sk.pre = "output";-->
<!--   Sk.configure({output:outf, read:builtinRead});-->
<!--   (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';-->
<!--   var myPromise = Sk.misceval.asyncToPromise(function() {-->
<!--       return Sk.importMainWithBody("<stdin>", false, prog, true);-->
<!--   });-->
<!--   myPromise.then(function(mod) {-->
<!--       console.log('success');-->
<!--   },-->
<!--       function(err) {-->
<!--       console.log(err.toString());-->
<!--   });-->
<!--}-->
<!--</script>-->

<!--<form>-->
<!--<textarea id="yourcode" cols="40" rows="10">import turtle-->

<!--t = turtle.Turtle()-->
<!--t.forward(100)-->

<!--print "Hello World"-->
<!--</textarea><br />-->
<!--    <button type="button" class="btn btn-success">Run!</button>-->
<!--</form>-->
<!--<pre id="output" ></pre>-->
<!--&lt;!&ndash; If you want turtle graphics include a canvas &ndash;&gt;-->
<!--<div id="mycanvas"></div>-->

</body>

</html>

{% endblock %}